src/main/resources/META-INF/wsdl/datos-especificos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xs:element name="DatosEspecificos" type="DatosEspecificos"/>
	<xs:complexType name="DatosEspecificos">
		<xs:choice>
			<xs:element ref="Consulta" />
			<xs:element ref="Retorno" />
		</xs:choice>
		<xs:attribute name="Id" type="xs:string" use="optional"/>
	</xs:complexType>
	
	<xs:element name="Consulta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NIF"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Retorno">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Estado"/>
				<xs:element ref="DatosRespuesta"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoEstado">
					<xs:annotation>
						<xs:documentation>
							Codigo de respuesta del servicio
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="CodigoEstadoSecundario" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Contine un código más específico, que en caso de error puede aportar informacion necesaria para resolver la incidencia.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="LiteralError">
					<xs:annotation>
						<xs:documentation>
							Descripción de la Respuesta, en función del valor del campo CodigoEstado.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CodigoEstado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstadoSecundario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LiteralError">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="NIF" nillable="false">
      	<xs:simpleType>
      		<xs:restriction base="xs:string">
      			<xs:length value="9"/>
      		</xs:restriction>
      	</xs:simpleType>
      </xs:element>
      
      <xs:element name="DatosRespuesta">
        <xs:complexType>
          <xs:sequence>
          	<xs:element ref="NIF"/>
            <xs:element name="existe" type="xs:boolean"/>
            <xs:element ref="DatosExplotaciones" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

	<xs:element name="DatosExplotaciones">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Datos" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Datos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numExplotacion" type="xs:string"/>
				<xs:element name="especie" type="xs:string"/>
				<xs:element name="orientacion" type="xs:int"/>
				<xs:element name="desOrientacion" type="xs:string"/>
				<xs:element name="capacidad" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
